body {
  padding: 20px;
}
/* #div_Button_light {
  width: fit-content;
  display: flex;
  gap: 10px;
  border: solid;
  border-color: rgb(230,230,230);
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
} */
/* #div_img {
  align-self: center;
} */
/* #div_Right_light {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
#div_Right_black {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* #p_top_light {
  font-family: Gothic century;
  font-size: 17px;
  color: rgb(6,150,211);
}
#p_bottom_light {
  font-family: Gothic century;
  font-weight: bold;
  font-size: 17px;
  color: rgb(0,0,0);
} */
/* #p_top_black {
  font-family: Gothic century;
  font-size: 17px;
  color: rgb(158,180,34);
}
#p_bottom_black {
  font-family: Gothic century;
  font-weight: bold;
  font-size: 17px;
  color: rgb(255,255,255);
} */
/* p {
  margin: initial;
  color: rgb(160,178,180);
} */